
body{
  background-color: #E3DFFD;
}
.op{
  background-color: white;
  border-radius: 16px;
  padding: 5px;
  margin: 200px auto;
  text-align: center;
  width: 25%;
  font-family: 'Signika Negative', sans-serif;
}
.qrimg{
 margin-top: 5%;
 width: 90%;
 border: 1px;
 border-style: hidden;
 border-radius: 16px;
}
h2{
  font-family: 'Kanit', sans-serif;
}
